body {
    font-family: Roboto;
}
#cardInfo {
    width: 200px;
    margin-top: 8px;
    font-size: 1rem;
    color: rgba(0, 0, 0, .54);
    margin-left: 10px;
}
.mdl-card__actions.mdl-card--border.moderator {
    color: rgb(63, 81, 181);
    font-size: 14px;
}
#cardInfo i {
    height: 20px;
    width: 20px;
    font-size: 20px;
}
.demo-card-wide.mdl-card {
    width: 300px;
}
.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 60px;
    background: #3F51B5;
}
.demo-card-wide>.mdl-card__supporting-text {
    height: 150px;
}
.demo-card-wide>.mdl-card__menu {
    color: #fff;
}
.user-image {
    border-radius: 50%;
    height: 40px;
}
.clickable {
    cursor: pointer;
}
.user-label {
    font-size: 15px;
    padding-right: 5px;
}

#show-dialog {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 56px;
}